@font-face {
  font-family: 'RubikReg';
  src: url('../static/fonts/rubik/Rubik-Regular.eot');
  src: url('../static/fonts/rubik/Rubik-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../static/fonts/rubik/Rubik-Regular.woff') format('woff'),
    url('../static/fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsReg';
  src: url('../static/fonts/poppins/Poppins-Regular.eot');
  src: url('../static/fonts/poppins/Poppins-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../static/fonts/poppins/Poppins-Regular.woff') format('woff'),
    url('../static/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DMsans';
  src: url('../static/fonts/DMsans/DMSans-Regular.eot');
  src: url('../static/fonts/DMsans/DMSans-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../static/fonts/DMsans/DMSans-Regular.woff') format('woff'),
    url('../static/fonts/DMsans/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin DMsans {
  font-family: 'DMsans', sans-serif;
}

@mixin poppins {
  font-family: 'PoppinsReg', sans-serif;
}

@mixin rubik {
  font-family: 'RubikReg', sans-serif;
}
