@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// == MIXIN ==
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin listNone {
  margin: 0;
  padding: 0;
  list-style: none;
}
// == / MIXIN ==

// == VARIABLES ==

$breakpoint-min-xs: 0;
$breakpoint-max-xs: $breakpoint-min-xs - 1;

$breakpoint-min-sm: 576px;
$breakpoint-max-sm: $breakpoint-min-sm - 1;

$breakpoint-min-md: 768px;
$breakpoint-max-md: $breakpoint-min-md - 1;

$breakpoint-min-lg: 992px;
$breakpoint-max-lg: $breakpoint-min-lg - 1;

$breakpoint-min-xl: 1200px;
$breakpoint-max-xl: $breakpoint-min-xl - 1;

$breakpoint-min-xxl: 1400p;
$breakpoint-max-xxl: $breakpoint-min-xxl - 1;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$lh: 2;

$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

$primary-color: #5e81fe;
$devider-color: #d8e3fe;
$primary-text-collor: #697ca6;
$white: #ffffff;

$transition: 0.2s;

$border-sm: 2px;
$border-md: 5px;
$border-circle: 100%;

// == / VARIABLES ==
// == FUNCTIONS ==
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}
$base: rem(4px);

$fs-xs: rem(10px);
$fs-sm: rem(12px);
$fs-md: rem(14px);
// == / FUNCTIONS ==
// == COMMON ==
html {
  @media (max-width: $breakpoint-max-lg) {
    font-size: 12px;
  }
  @media (max-width: $breakpoint-max-md) {
    font-size: 10px;
  }
}
body {
  @include roboto;
  color: #8d96bd;
}

.wrapper-outer {
  padding: 0 $base * 5;
  border-bottom: 1px solid $devider-color;
}
.wrapper-inner {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
  &--wide {
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (max-width: $breakpoint-max-md) {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}

.input {
  font-size: $fs-sm;
  padding: $base * 3 $base * 4;
  background-color: #efeff7;
  color: #7a85ad;
  border: 1px solid transparent;
  font-weight: $fw-bold;
  outline: none;
  @include quicksand();
  &--size-lg {
    padding: $base * 5 $base * 35 $base * 5 $base * 6;
    border-radius: $border-md;
  }
}
.btn {
  display: inline-block;
  border-radius: $border-sm;
  @include quicksand;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  margin: 0;
  padding: $base * 3 $base * 4;
  border: 1px transparent solid;
  background: none;
  text-decoration: none;
  transition: $transition;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
  &--primary {
    color: #3a79ff;
    background-color: #d2e1ff;
    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }
  &--size-lg {
    padding: $base * 5 $base * 15;
    border-radius: $border-md;
  }
  &--grayscale {
    color: #7382a3;
    background-color: #e8ecf4;
    &:hover {
      background-color: darken(#e8ecf4, 5%);
    }
  }
  &--secondary {
    color: $white;
    background-color: #4c85ff;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }
  }

  &--danger {
    color: #d43f3f;
    background-color: #ffd7d7;
    &:hover {
      background-color: darken(#d43f3f, 10%);
      color: $white;
    }
  }
  &--no-bg {
    color: #adb4d2;
    border: 1px solid #d1d1e4;

    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#adb4d2, 10%);
    }
  }
}
.btn-group {
  display: inline-flex;
  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;
  margin: 0;
  padding: 0;
  font-weight: $fw-medium;
  color: #3d4f9f;
}
.section-subtitle {
  font-size: $base * 12;
  @include quicksand;
  margin: 0;
  margin-bottom: $base * 7;
  padding: 0;
  font-weight: $fw-medium;
  color: #3d4f9f;
  &--sm {
    font-size: $base * 6;
  }
  &--md {
    font-size: $base * 9;
  }
}

h2 {
  font-weight: $fw-medium;
  @include roboto;
  font-size: $fs-xs;
  margin-bottom: $base * 4;
  text-transform: uppercase;
}

h3 {
  font-size: $base * 9;
  font-weight: $fw-regular;
}

.ta-c {
  text-align: center;
}

.dots {
  display: flex;
  @include listNone();
  &__item {
    width: $base * 2;
    height: $base * 2;
    border-radius: $border-circle;
    background-color: #d1d6e3;
    transition: $transition;
    cursor: pointer;

    &--active {
      background-color: #5283ff;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
// == / COMMON ==

//== header ==

.section-header {
  position: relative;
  padding: 0;
  .wrapper-inner {
    padding: $base * 5;
  }
}
.navigation-wrap {
  display: flex;
  align-items: center;
  flex-grow: 1;
  .section-header & {
    @media (max-width: $breakpoint-max-lg) {
      display: none;
      position: absolute;
      z-index: 10;
      top: 100%;
      right: 0;
      left: 0;
      background-color: #fff;
    }
  }

  @media (max-width: $breakpoint-max-lg) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .socials,
    .btn-wrapper {
      margin: 0;
      margin-top: $base * 5;
    }

    .logo {
      margin-bottom: $base * 5;
      &__link {
        margin: 0;
      }
    }
  }
}
.btn-burger {
  display: none;
  margin-left: auto;
  &__line {
    display: block;
    width: $base * 3;
    height: $base / 2;
    background-color: #b6bac7;
    & + & {
      margin-top: $base / 2;
    }
  }
  .section-header & {
    @media (max-width: $breakpoint-max-lg) {
      display: block;
    }
  }
}
.main-navigation {
  display: flex;
  align-items: center;

  .section-footer & {
    @media (max-width: $breakpoint-max-lg) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .socials,
      .btn-wrapper {
        margin: 0;
        margin-top: $base * 5;
      }

      .logo {
        margin-bottom: $base * 5;
        &__link {
          margin: 0;
        }
      }
    }
  }
}
.logo {
  &__link {
    display: block;
    width: $base * 6;
    height: $base * 6;
    border-radius: $border-circle;
    background-color: $primary-color;
    margin-right: $base * 17;
  }
}
.nav-list {
  @include listNone();
  display: flex;
  font-size: $fs-sm;
  @include quicksand;
  font-weight: $fw-medium;
  &__item {
    & + & {
      margin-left: $base * 10;
    }
    &-link {
      text-decoration: none;
      color: $primary-text-collor;
      transition: $transition;
      &:hover {
        color: $primary-color;
      }
      &--active {
        font-weight: $fw-bold;
        color: $primary-color;
      }
    }
  }
}
.socials {
  margin-left: auto;
}
.socials-list {
  @include listNone();
  display: flex;
  font-size: $base * 3;
  align-items: center;
  @include quicksand;

  font-weight: $fw-medium;
  &__item {
    & + & {
      margin-left: $base * 9;
    }
    &-link {
      text-decoration: none;
      color: $primary-text-collor;
      transition: $transition;
      path {
        fill: #b6bac7;
        transition: $transition;
      }
      &:hover {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}
.btn-wrapper {
  margin-left: $base * 11;
}

//==/ header ==

//== hero ==
.section-hero {
  .btn-icon-play-wrapper {
    margin-bottom: $base * 30;
  }
  padding: 0;
  background-color: #f4f7ff;
  position: relative;
  .dots {
    bottom: $base * 7;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  .hero-list {
    @include listNone();

    .hero-list__item {
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;

      .hero-list__item-content {
        .text {
          width: 55%;
          margin: 0 auto $base * 5;
          line-height: $base * 7;
        }
        .section-subtitle {
          margin-bottom: $base * 7;
          font-weight: $fw-light;
          span {
            font-weight: $fw-medium;
          }
        }
      }
    }
  }
}
.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base * 13;
  height: $base * 13;
  border-radius: $border-circle;
  background-color: $white;

  svg {
    width: $base * 3;
    height: $base * 3;
  }
}

//==/ hero ==

//== customers ==
.section-customers {
  .wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
    .customers-link {
      opacity: 0.4;
      transition: $transition;
      &:hover {
        opacity: 1;
      }
    }
  }
}
//==/ customers ==

//== plan-and-manage ==
.section-plan-and-manage {
  position: relative;
  overflow: hidden;
  background-color: #f5f8ff;
  .section-subtitle {
    span {
      font-weight: $fw-light;
    }
  }
  &__content {
    width: 50%;
    h3 {
      font-weight: $fw-light;
      margin-bottom: $base * 7;
      span {
        font-weight: $fw-medium;
      }
    }
    .text {
      line-height: $base * 7;
      font-size: $fs-md;
      margin-bottom: $base * 12;
    }
    .asside-img {
      position: absolute;
      top: 0;
      left: 50%;
    }
  }
  .btn-group {
    svg {
      margin-left: $base;
    }
  }
}
//==/ plan-and-manage ==

//== features ==
.section-features {
  background: url(../img/features/clouds.svg) no-repeat 50% 50%;
  background-size: contain;

  .section-subtitle {
    font-weight: $fw-medium;

    margin-bottom: $base * 23;
  }
  .btns {
    display: flex;
    justify-content: center;
  }
}
.features-list {
  display: flex;
  @include listNone();
  margin: 0 0 $base * 23;
  text-align: center;
  &__item {
    flex-basis: 25%;
    position: relative;
    &:not(:first-child) {
      margin-left: $base * 10;
    }
    &:not(:first-child)::before {
      content: '';
      width: $base * 7;
      height: 1px;
      background-color: #dae4fe;
      position: absolute;
      top: $base * 30;
      left: -($base * 8);
    }
    &-icon {
      display: flex;
      margin: 0 auto $base * 8;
      align-items: center;
      justify-content: center;
      width: $base * 17;
      height: $base * 17;
      border-radius: $border-circle;
      background-color: #f1f5ff;
    }
    &-title {
      color: #4074f8;
      font-weight: $fw-bold;
      font-size: $fs-md;
      margin-bottom: $base * 7;
    }
    &-text {
      font-size: $fs-sm;
      line-height: $lh;
      max-width: $base * 32;
      margin: 0 auto;
    }
  }
}
.or-block {
  display: inline-flex;
  font-weight: $fw-medium;
  font-size: $fs-sm;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: block;
    width: $base * 4;
    height: 1px;
    background-color: #dae4fe;
    margin-left: $base * 4;
    margin-right: $base * 4;
  }
}
//==/ features ==

//== stats ==
.section-stats {
  padding: 0;
  @include quicksand;
  display: flex;
  background-color: #e9efff;
  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: $base * 17 $base * 22;
  }
  &__left {
    text-align: right;
    background-color: #6888ff;
    color: $white;
    align-items: flex-end;
  }
  &__right {
    color: #5e80ff;
  }
  &__icon {
    margin-bottom: $base * 6;
  }
  &__number {
    font-size: $base * 12;
    margin-bottom: $base * 6;
  }
  &__text {
    font-weight: $fw-medium;
    font-size: $base * 4;
    max-width: $base * 60;
    line-height: $lh;
  }
}

//==/ stats ==

//== blog ==
.section-blog {
  background-color: #f5f8ff;
  .section-subtitle {
    margin-bottom: $base * 16;
  }
  .dots {
    justify-content: center;
    margin-top: $base * 25;
  }
}
.slider-wrapper {
  position: relative;
  @media (max-width: $breakpoint-max-xl) {
    .arrow-group {
      display: none;
    }
  }
  .slider-arrow {
    position: absolute;
    top: 50%;
    background: url(../img/slider-arrow.svg) no-repeat 50% 50%;
    width: $base * 10;
    height: $base * 10;
    &--prev {
      right: 100%;
      margin-right: $base * 20;
      transform: translateY(-50%);
    }
    &--next {
      left: 100%;
      margin-left: $base * 20;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
.slider-blog {
  @include listNone();
  border: 1px solid $devider-color;
  box-shadow: 0px $base * 4 $base * 12 #eff4ff;
  background-color: $white;
  &__item {
    padding: $base * 16 $base * 8;
    display: flex;
    justify-content: space-between;

    .text {
      font-weight: $fw-light;
      font-size: $base * 4;
      line-height: $lh - 0.4;

      letter-spacing: 0.03em;
    }

    &-galery,
    &-content {
      flex-basis: 47%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-galery {
      display: grid;
      grid-template-columns: repeat(3, $base * 30);
      grid-template-rows: repeat(2, $base * 30);
      grid-column-gap: $base * 3;
      grid-row-gap: $base * 3;
      overflow: hidden;
    }
  }
}
.galery-link {
  display: block;
  overflow: hidden;
  border-radius: $border-md;
  position: relative;
  box-shadow: 0 $base * 4 $base * 25 #e5ebf8;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;

    width: $base * 16;
    height: $base * 16;
    border-radius: $border-circle;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: $transition;
    background: $white url(../img/loupe.svg) no-repeat 50% 50%;

    opacity: 0;
  }
  &:hover::after {
    opacity: 1;
  }

  &--big {
    grid-row: 1 / 3;
    grid-column: 1 / 3;

    &::before {
      background: linear-gradient(transparent, #ffc735);
    }
  }
  &--sm-1 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;

    &::before {
      background: linear-gradient(transparent, #ff3535);
    }
  }
  &--sm-2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;

    &::before {
      background: linear-gradient(transparent, #35aaff);
    }
  }
}

//==/ blog ==

//== quotes ==
.section-quotes {
  background: linear-gradient(#eaf0ff, #f6f9ff);
  &--left,
  &--right {
    flex-basis: 45%;
  }

  &--left {
    h3 {
      margin-bottom: $base * 4;
    }
    &-text {
      font-weight: $fw-regular;
      font-size: $fs-sm;
      line-height: $lh;
      letter-spacing: 0.03em;
      color: #a4abc8;
      max-width: $base * 75;
    }
  }
  &--right {
    .dots {
      justify-content: center;
    }
  }
  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.quotes-slider {
  @include listNone();

  &__item {
    padding: $base * 10 $base * 17 $base * 15;
    background-color: $white;
    margin-bottom: $base * 20;
    position: relative;
    border: 1px solid $devider-color;
    box-shadow: 0 $base $base * 12 #f3f5fa;
    &-text {
      font-size: $fs-md;
      font-weight: $fw-regular;
      line-height: $base * 6;
      letter-spacing: 0.03em;
      color: #676f95;
    }
    &-photo {
      $height: $base * 15;

      position: absolute;
      overflow: hidden;
      width: $base * 15;
      height: $height;
      border-radius: $border-circle;
      background-color: $white;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -$height/2);
    }
  }
}
//==/ quotes ==

//== faq ==
.section-faq {
  .section-subtitle {
    font-weight: $fw-medium;
    margin-bottom: $base * 15;
  }
}
.faq-accordion {
  @include listNone();
  @include quicksand();
  &__item {
    $parent: &;
    border-bottom: 1px solid $devider-color;

    &--active {
      .faq-accordion__item-trigger-icon {
        .arrow {
          stroke: #495274;
        }
      }
      #{$parent}-content {
        display: flex;
      }
      #{$parent}-trigger {
        color: #495274;
        font-weight: $fw-bold;
        &-icon {
          transform: rotate(0);
        }
      }
    }
    &-trigger {
      display: flex;
      cursor: pointer;
      padding: $base * 5;
      &-icon {
        margin-right: $base * 4;
        transform: rotate(180deg);
        .arrow {
          stroke: #8e96b7;
        }
      }
      &-text {
        font-size: $fs-md;
      }
    }
    &-content {
      display: none;
      @include roboto();
      padding: 0 $base * 4 $base * 4 $base * 17;
      &-text {
        flex-grow: 1;
        font-size: $fs-md;
        line-height: $lh;
        letter-spacing: 0.03em;
      }
      &-btn {
        margin-left: $base * 15;
      }
    }
  }
}
//==/ faq ==

//== get-started ==
.section-get-started {
  background: linear-gradient(#6888ff, #5e80ff);
  position: relative;
  &::before {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: url(../img/get-started/get-started-bg.png) no-repeat 50% 50%;
  }
  .wrapper-inner {
    position: relative;
    z-index: 10;
  }
  &-wrapper {
    color: $white;
    max-width: $base * 178;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,
    .section-subtitle {
      color: $white;
    }
    .section-subtitle {
      font-weight: $fw-light;
      span {
        font-weight: $fw-medium;
      }
    }
    .text {
      margin-bottom: $base * 9;
      text-align: center;
      font-size: $fs-md;
      font-weight: $fw-regular;
      line-height: $base * 7;
      letter-spacing: 0.03em;
    }
    .btn {
      &--primary {
        color: #565f82;
        background-color: $white;
      }
    }
  }
}
//==/ get-started ==

//== newsletter ==
.section-newsletter {
  background-color: #fcfdff;
  .wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $breakpoint-max-md) {
      flex-direction: column;
    }
  }
  &__left {
    flex-basis: 35%;
    &-title {
      @include quicksand();
      color: #3d4f9f;
      font-size: $base * 5;
      font-weight: $fw-bold;
      margin-bottom: $base * 5;
    }
    &-text {
      font-size: $fs-md;
      line-height: $lh;
    }
  }
  &__right {
    flex-basis: 60%;
    @media (max-width: $breakpoint-max-md) {
      margin-top: $base * 10;
    }
    .btn {
      font-weight: $fw-bold;
      margin-left: $base * 3;
    }
    .form-newsletter {
      display: flex;
      justify-content: flex-end;
    }
  }
}
//==/ newsletter ==

//== footer ==
.section-footer {
  border-bottom: 0;
  .wrapper-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
  .copyright {
    display: inline-block;
    color: #aeb8d0;
    @include quicksand;
    font-size: $fs-md;
    font-weight: $fw-medium;
    margin-left: $base * 24;
    margin-top: $base * 7;
  }
}
//==/ footer ==
