@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// == MIXIN ==
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}
// == / MIXIN ==

// == VARIABLES ==
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;

$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

$primary-color: #5e81fe;
$devider-color: #d8e3fe;
$primary-text-collor: #697ca6;

$transition: 0.2s;

// == / VARIABLES ==
// == COMMON ==
body {
  @include roboto;
  color: #8d96bd;
}

.wrapper-outer {
  border-bottom: 1px solid $devider-color;
}
.wrapper-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
  &--wide {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.btn {
  border-radius: 2px;
  @include quicksand;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  margin: 0;
  padding: 12px 16px;
  border: 1px transparent solid;
  background: none;
  text-decoration: none;
  transition: $transition;
  box-sizing: border-box;
  cursor: pointer;
  &--primary {
    color: #3a79ff;
    background-color: #d2e1ff;
    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }
  &--secondary {
    color: #ffffff;
    background-color: #4c85ff;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }
  }

  &--danger {
    color: #d43f3f;
    background-color: #ffd7d7;
    &:hover {
      background-color: darken(#d43f3f, 10%);
      color: #ffffff;
    }
  }
  &--no-bg {
    color: #adb4d2;
    border: 1px solid #d1d1e4;

    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#adb4d2, 10%);
    }
  }
}
.btn-group {
  display: inline-flex;
  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;
  margin: 0;
  padding: 0;
  font-weight: $fw-medium;
  color: #3d4f9f;
}

h1,
h2 {
  font-size: 48px;
  margin-bottom: 28px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
  margin-bottom: 80px;
}

h5 {
  @include roboto;
  font-size: 10px;
  margin-bottom: 16px;
}

.ta-c {
  text-align: center;
}

.dots {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #d1d6e3;
    transition: $transition;
    cursor: pointer;

    &--active {
      background-color: #5283ff;
    }

    & + & {
      margin-left: 12px;
    }
  }
}

// == / COMMON ==

//== header ==
.section-header {
  .wrapper-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
}
.logo {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: $primary-color;
  margin-right: 70px;
}
.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  font-size: $fs-sm;
  @include quicksand;
  font-weight: $fw-medium;
  &__item {
    & + & {
      margin-left: 40px;
    }
    &-link {
      text-decoration: none;
      color: #697ca6;
      transition: $transition;
      &:hover {
        color: $primary-color;
      }
      &--active {
        font-weight: $fw-bold;
        color: $primary-color;
      }
    }
  }
}
.socials {
  margin-left: auto;
}
.socials-list {
  list-style: none;
  display: flex;
  padding: 0;
  font-size: 12px;
  align-items: center;
  @include quicksand;

  font-weight: $fw-medium;
  &__item {
    & + & {
      margin-left: 36px;
    }
    &-link {
      text-decoration: none;
      color: #697ca6;
      transition: $transition;
      path {
        fill: #b6bac7;
        transition: $transition;
      }
      &:hover {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}
.btn-wrapper {
  margin-left: 44px;
}
//==/ header ==

//== hero ==
.section-hero {
  background-color: #f4f7ff;
  position: relative;
  .hero-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .hero-list__item {
      height: 570px;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;

      .hero-list__item-content {
        .text {
          width: 55%;
          margin: 0 auto 20px;
          line-height: 29px;
        }
        h2 {
          font-weight: $fw-light;
          span {
            font-weight: $fw-medium;
          }
        }
      }
    }
  }
}
.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #fff;

  svg {
    width: 12px;
    height: 12px;
  }
}
.dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}
//==/ hero ==

//== customers ==
.section-customers {
  .wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
    .customers-link {
      opacity: 0.4;
      transition: $transition;
      &:hover {
        opacity: 1;
      }
    }
  }
}
//==/ customers ==

//== plan-and-manage ==
.section-plan-and-manage {
  position: relative;
  overflow: hidden;
  background-color: #f5f8ff;
  &__content {
    width: 50%;
    h3 {
      font-weight: $fw-light;
      margin-bottom: 28px;
      span {
        font-weight: $fw-medium;
      }
    }
    .text {
      line-height: 29px;
      font-size: $fs-md;
      margin-bottom: 47px;
    }
    .asside-img {
      position: absolute;
      top: 0;
      left: 50%;
    }
  }
  .btn-group {
    svg {
      margin-left: 4px;
    }
  }
}
//==/ plan-and-manage ==

//== features ==
.section-features {
  background: url(../img/features/clouds.svg) no-repeat 50% 50%;
  background-size: contain;

  h4 {
    font-weight: $fw-medium;
  }
  .btns {
    display: flex;
    justify-content: center;
  }
}
.features-list {
  display: flex;
  list-style: none;
  margin: 0 0 92px;
  padding: 0;
  text-align: center;
  &__item {
    flex-basis: 25%;
    position: relative;
    &:not(:first-child) {
      margin-left: 40px;
    }
    &:not(:first-child)::before {
      content: '';
      width: 28px;
      height: 1px;
      background-color: #dae4fe;
      position: absolute;
      top: 120px;
      left: -34px;
    }
    &-icon {
      display: flex;
      margin: 0 auto 32px;
      align-items: center;
      justify-content: center;
      width: 69px;
      height: 69px;
      border-radius: 100%;
      background-color: #f1f5ff;
    }
    &-title {
      color: #4074f8;
      font-weight: $fw-medium;
      font-size: $fs-md;
      margin-bottom: 28px;
    }
    &-text {
      font-size: 11px;
      line-height: 19px;
      max-width: 130px;
      margin: 0 auto;
    }
  }
}
.or-block {
  display: inline-flex;
  font-weight: $fw-medium;
  font-size: $fs-sm;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: #dae4fe;
    margin-left: 16px;
    margin-right: 16px;
  }
}
//==/ features ==

//== stats ==
.section-stats {
  @include quicksand;
  display: flex;
  background-color: #e9efff;
  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 70px 90px;
  }
  &__left {
    text-align: right;
    background-color: #6888ff;
    color: #ffffff;
    align-items: flex-end;
  }
  &__right {
    color: #5e80ff;
  }
  &__icon {
    margin-bottom: 24px;
  }
  &__number {
    font-size: 48px;
    margin-bottom: 24px;
  }
  &__text {
    font-weight: $fw-medium;
    font-size: 18px;
    max-width: 240px;
    line-height: 23px;
  }
}

//==/ stats ==

//== blog ==
.section-blog {
  background-color: #f5f8ff;
}
//==/ blog ==

//== quotes ==
.section-quotes {
  background-color: #eaf0ff;
}
//==/ quotes ==

//== faq ==
.section-faq {
}
//==/ faq ==

//== get-started ==
.section-get-started {
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
}
//==/ get-started ==

//== newsletter ==
.section-newsletter {
  background-color: #fcfdff;
}
//==/ newsletter ==

//== footer ==
.section-footer {
  border-bottom: 0;
  .wrapper-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
  .copyright {
    display: inline-block;
    color: #aeb8d0;
    @include quicksand;
    font-size: $fs-md;
    font-weight: $fw-medium;
    margin-left: 96px;
    margin-top: 28px;
  }
}
//==/ footer ==
